body {
  margin: 0;
  font-family: "AvenirNext", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNext"),
    url("./fonts/AvenirNextLTPro-Bold.otf") format("otf"),
    url("./fonts/AvenirNextLTPro-It.otf") format("otf"),
    url("./fonts/AvenirNextLTPro-Regular.otf") format("otf");
}

h1,
h2 {
  font-family: "Mulish", sans-serif;
}

.custom-bg {
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    93deg,
    rgba(165, 165, 165, 0.2) 0%,
    rgba(24, 24, 27, 0.1) 100%
  );
  backdrop-filter: blur(12px);
}

.bg-ga {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(64px);
}

.nav-bg {
  border-bottom: 1px solid rgba(39, 39, 42, 0.06);
  border-top: 1px solid rgba(39, 39, 42, 0.06);
  opacity: 0.95;
  background: var(--Zinc-950, #09090b);
}

.body-bg{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(27, 27, 27, 0.46) 80.08%);
}


.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  top: 108px;
  left: 0;
  background: black;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}



.search-bar {
align-items: center;
  display: flex;
}

.search-icon {
  cursor: pointer;
  transition: all 0.3s ease;
 
}

.search-icon.active {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-100%, 50%);
}

.search-input {
  width: 150px;
  padding: 2px;
  border: 1px rgb(214, 214, 214);
  transition: all 3s ease;
  opacity: 1;
  
}

/* .search-input.active { */
  /* width: 200px; /* Adjust the width as needed */
  /* padding: 8px; Add padding as needed */
  /* border: 1px solid #ccc; /* Add border styles as needed */
  /* opacity: 1; */ */ */
/* } */

search-icon-image {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  /* Add any other styling you want */
}

/* Example CSS for active custom search icon (when input is open) */
.search-icon-image.active {
  transform: translateX(-20px); /* Move the icon to the left when active */
  /* Add any other styling for the active state */
}