body {
  margin: 0;
  font-family: 'AvenirNext', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNext'),
       url('./fonts/AvenirNextLTPro-Bold.otf') format('otf'),
       url('./fonts/AvenirNextLTPro-It.otf') format('otf'),
       url('./fonts/AvenirNextLTPro-Regular.otf') format('otf')
}

h1, h2 {
font-family: 'Mulish', sans-serif;

}



